{:paths ["src"]
 :deps  {}
 :aliases
 {:build  {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
           :ns-default build}
  :deploy {:deps       {slipset/deps-deploy {:mvn/version "0.2.1"}}
           :mvn/repos  {"clojars" {:url "https://repo.clojars.org/"}}
           :exec-fn    deps-deploy.deps-deploy/deploy
           :exec-args  {:artifact  "target/baredom-1.0.0-rc.4.jar"
                        :installer :remote}}}}
