{:source-paths
 ["src" "test"]

 :dev-http
 {8000 "public"
  8080 "."}

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules
   {:main {:init-fn baredom.core/init!}}
   :devtools
   {:after-load baredom.core/start!}}

  :test
  {:target :browser-test
   :test-dir "out/test"
   :devtools
   {:http-root "out/test"
    :http-port 8021}}

  :test-karma
  {:target :karma
   :output-to "out/karma/test.js"
   :ns-regexp "-test$"}

  :demo
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn baredom.core/init!}}}

  :bare-html
  {:target     :browser
   :output-dir "bare-html/js"
   :asset-path "./js"
   :modules    {:main {:init-fn baredom.exports.all/init}}}

  :lib
  {:target :esm
   :output-dir "dist"
   :modules
   {:base
    {:entries []}

    :x-button
    {:exports
     {init baredom.exports.x-button/init}
     :depends-on #{:base}}

    :x-card
    {:exports
     {init baredom.exports.x-card/init}
     :depends-on #{:base}}

    :x-carousel
    {:exports
     {init baredom.exports.x-carousel/init}
     :depends-on #{:base}}

    :x-container
    {:exports
     {init baredom.exports.x-container/init}
     :depends-on #{:base}}

    :x-grid
    {:exports
     {init baredom.exports.x-grid/init}
     :depends-on #{:base}}

    :x-navbar
    {:exports
     {init baredom.exports.x-navbar/init}
     :depends-on #{:base}}

    :x-sidebar
    {:exports
     {init baredom.exports.x-sidebar/init}
     :depends-on #{:base}}

    :x-stat
    {:exports
     {init baredom.exports.x-stat/init}
     :depends-on #{:base}}

    :x-tab
    {:exports
     {init baredom.exports.x-tab/init}
     :depends-on #{:base}}

    :x-tabs
    {:exports
     {init baredom.exports.x-tabs/init}
     :depends-on #{:base}}

    :x-alert
    {:exports
     {init baredom.exports.x-alert/init}
     :depends-on #{:base}}

    :x-avatar
    {:exports
     {init baredom.exports.x-avatar/init}
     :depends-on #{:base}}

    :x-avatar-group
    {:exports
     {init baredom.exports.x-avatar-group/init}
     :depends-on #{:base}}

    :x-badge
    {:exports
     {init baredom.exports.x-badge/init}
     :depends-on #{:base}}

    :x-breadcrumbs
    {:exports
     {init baredom.exports.x-breadcrumbs/init}
     :depends-on #{:base}}

    :x-chart
    {:exports
     {init baredom.exports.x-chart/init}
     :depends-on #{:base}}

    :x-context-menu
    {:exports
     {init baredom.exports.x-context-menu/init}
     :depends-on #{:base}}

    :x-cancel-dialogue
    {:exports
     {init baredom.exports.x-cancel-dialogue/init}
     :depends-on #{:base}}

    :x-checkbox
    {:exports
     {init baredom.exports.x-checkbox/init}
     :depends-on #{:base}}

    :x-chip
    {:exports
     {init baredom.exports.x-chip/init}
     :depends-on #{:base}}

    :x-collapse
    {:exports
     {init baredom.exports.x-collapse/init}
     :depends-on #{:base}}

    :x-color-picker
    {:exports
     {init baredom.exports.x-color-picker/init}
     :depends-on #{:base}}

    :x-combobox
    {:exports
     {init baredom.exports.x-combobox/init}
     :depends-on #{:base}}

    :x-command-palette
    {:exports
     {init baredom.exports.x-command-palette/init}
     :depends-on #{:base}}

    :x-copy
    {:exports
     {init baredom.exports.x-copy/init}
     :depends-on #{:base}}

    :x-date-picker
    {:exports
     {init baredom.exports.x-date-picker/init}
     :depends-on #{:base}}

    :x-divider
    {:exports
     {init baredom.exports.x-divider/init}
     :depends-on #{:base}}

    :x-drawer
    {:exports
     {init baredom.exports.x-drawer/init}
     :depends-on #{:base}}

    :x-dropdown
    {:exports
     {init baredom.exports.x-dropdown/init}
     :depends-on #{:base}}

    :x-fieldset
    {:exports
     {init baredom.exports.x-fieldset/init}
     :depends-on #{:base}}

    :x-file-download
    {:exports
     {init baredom.exports.x-file-download/init}
     :depends-on #{:base}}

    :x-file-upload
    {:exports
     {init baredom.exports.x-file-upload/init}
     :depends-on #{:base}}

    :x-form-field
    {:exports
     {init baredom.exports.x-form-field/init}
     :depends-on #{:base}}

    :x-form
    {:exports
     {init baredom.exports.x-form/init}
     :depends-on #{:base}}

    :x-search-field
    {:exports
     {init baredom.exports.x-search-field/init}
     :depends-on #{:base}}

    :x-currency-field
    {:exports
     {init baredom.exports.x-currency-field/init}
     :depends-on #{:base}}

    :x-menu
    {:exports
     {init baredom.exports.x-menu/init}
     :depends-on #{:base}}

    :x-menu-item
    {:exports
     {init baredom.exports.x-menu-item/init}
     :depends-on #{:base}}

    :x-modal
    {:exports
     {init baredom.exports.x-modal/init}
     :depends-on #{:base}}

    :x-notification-center
    {:exports
     {init baredom.exports.x-notification-center/init}
     :depends-on #{:base}}

    :x-pagination
    {:exports
     {init baredom.exports.x-pagination/init}
     :depends-on #{:base}}

    :x-popover
    {:exports
     {init baredom.exports.x-popover/init}
     :depends-on #{:base}}

    :x-progress
    {:exports
     {init baredom.exports.x-progress/init}
     :depends-on #{:base}}

    :x-progress-circle
    {:exports
     {init baredom.exports.x-progress-circle/init}
     :depends-on #{:base}}

    :x-radio
    {:exports
     {init baredom.exports.x-radio/init}
     :depends-on #{:base}}

    :x-select
    {:exports
     {init baredom.exports.x-select/init}
     :depends-on #{:base}}

    :x-skeleton
    {:exports
     {init baredom.exports.x-skeleton/init}
     :depends-on #{:base}}

    :x-skeleton-group
    {:exports
     {init baredom.exports.x-skeleton-group/init}
     :depends-on #{:base}}

    :x-slider
    {:exports
     {init baredom.exports.x-slider/init}
     :depends-on #{:base}}

    :x-spacer
    {:exports
     {init baredom.exports.x-spacer/init}
     :depends-on #{:base}}

    :x-spinner
    {:exports
     {init baredom.exports.x-spinner/init}
     :depends-on #{:base}}

    :x-stepper
    {:exports
     {init baredom.exports.x-stepper/init}
     :depends-on #{:base}}

    :x-switch
    {:exports
     {init baredom.exports.x-switch/init}
     :depends-on #{:base}}

    :x-table-cell
    {:exports
     {init baredom.exports.x-table-cell/init}
     :depends-on #{:base}}

    :x-table-row
    {:exports
     {init baredom.exports.x-table-row/init}
     :depends-on #{:base}}

    :x-table
    {:exports
     {init baredom.exports.x-table/init}
     :depends-on #{:base}}

    :x-text-area
    {:exports
     {init baredom.exports.x-text-area/init}
     :depends-on #{:base}}

    :x-timeline-item
    {:exports
     {init baredom.exports.x-timeline-item/init}
     :depends-on #{:base}}

    :x-timeline
    {:exports
     {init baredom.exports.x-timeline/init}
     :depends-on #{:base}}

    :x-toast
    {:exports
     {init baredom.exports.x-toast/init}
     :depends-on #{:base}}

    :x-toaster
    {:exports
     {init baredom.exports.x-toaster/init}
     :depends-on #{:base}}

    :x-tooltip
    {:exports
     {init baredom.exports.x-tooltip/init}
     :depends-on #{:base}}

    :x-welcome-tour
    {:exports
     {init baredom.exports.x-welcome-tour/init}
     :depends-on #{:base}}

    :x-organic-shape
    {:exports
     {init baredom.exports.x-organic-shape/init}
     :depends-on #{:base}}

    :x-typography
    {:exports
     {init baredom.exports.x-typography/init}
     :depends-on #{:base}}

    :x-kinetic-typography
    {:exports
     {init baredom.exports.x-kinetic-typography/init}
     :depends-on #{:base}}

    :x-kinetic-font
    {:exports
     {init baredom.exports.x-kinetic-font/init}
     :depends-on #{:base}}

    :x-organic-divider
    {:exports
     {init baredom.exports.x-organic-divider/init}
     :depends-on #{:base}}

    :x-ripple-effect
    {:exports
     {init baredom.exports.x-ripple-effect/init}
     :depends-on #{:base}}

    :x-gaussian-blur
    {:exports
     {init baredom.exports.x-gaussian-blur/init}
     :depends-on #{:base}}

    :x-scroll
    {:exports
     {init baredom.exports.x-scroll/init}
     :depends-on #{:base}}

    :x-scroll-parallax
    {:exports
     {init baredom.exports.x-scroll-parallax/init}
     :depends-on #{:base}}

    :x-scroll-story
    {:exports
     {init baredom.exports.x-scroll-story/init}
     :depends-on #{:base}}

    :x-scroll-timeline
    {:exports
     {init baredom.exports.x-scroll-timeline/init}
     :depends-on #{:base}}

    :x-scroll-stack
    {:exports
     {init baredom.exports.x-scroll-stack/init}
     :depends-on #{:base}}

    :x-splash
    {:exports
     {init baredom.exports.x-splash/init}
     :depends-on #{:base}}

    :x-metaball-cursor
    {:exports
     {init baredom.exports.x-metaball-cursor/init}
     :depends-on #{:base}}

    :x-neural-glow
    {:exports
     {init baredom.exports.x-neural-glow/init}
     :depends-on #{:base}}

    :x-organic-progress
    {:exports
     {init baredom.exports.x-organic-progress/init}
     :depends-on #{:base}}

    :x-bento-grid
    {:exports
     {init baredom.exports.x-bento-grid/init}
     :depends-on #{:base}}

    :x-bento-item
    {:exports
     {init baredom.exports.x-bento-item/init}
     :depends-on #{:base}}

    :x-soft-body
    {:exports
     {init baredom.exports.x-soft-body/init}
     :depends-on #{:base}}

    :x-liquid-glass
    {:exports
     {init baredom.exports.x-liquid-glass/init}
     :depends-on #{:base}}

    :x-liquid-dock
    {:exports
     {init baredom.exports.x-liquid-dock/init}
     :depends-on #{:base}}

    :x-liquid-fill
    {:exports
     {init baredom.exports.x-liquid-fill/init}
     :depends-on #{:base}}

    :x-morph-stack
    {:exports
     {init baredom.exports.x-morph-stack/init}
     :depends-on #{:base}}

    :x-particle-button
    {:exports
     {init baredom.exports.x-particle-button/init}
     :depends-on #{:base}}

    :x-image
    {:exports
     {init baredom.exports.x-image/init}
     :depends-on #{:base}}

    :x-icon
    {:exports
     {init baredom.exports.x-icon/init}
     :depends-on #{:base}}

    :x-theme
    {:exports
     {init baredom.exports.x-theme/init
      registerPreset baredom.exports.x-theme/registerPreset}
     :depends-on #{:base}}

    }}}}
